.main-player-section {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 62.5%;
}
header.header-main {
  display: flex;
  justify-content: space-between;
}

.home-button{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin: 2rem;
  margin-left: 4rem;
  margin-top: 8rem;
  transition: 450ms all;
  //filter: saturation(10%);
}

.user-button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin: 4rem;
  margin-top: 8rem;
  transition: 450ms all;
  //filter: saturation(10%);
}

.home-button:hover {
  filter: brightness(110%);
  transform: scale(1.2);
  transition: 450ms all;
}

.user-button:hover {
  filter: brightness(110%);
  transform: scale(1.2);
  transition: 450ms all;
}

.header-main-search {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
  width: 60%;
}

.pause-button{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  margin: 2rem;
  margin-left: 4rem;
  margin-top: 6rem;
  transition: 450ms all;
  //filter: saturation(10%);
}

.pause-button:hover {
  filter: brightness(110%);
  transform: scale(1.2);
  transition: 450ms all;
}

.main-lyric {
  padding-top: 0;
  padding-bottom: 5rem;
}

.section-letter__container{
  border-top: #F9F6FF solid 3px;
  border-left: #F9F6FF solid 3px;
  border-right: #F9F6FF solid 3px;
  border-bottom: #F9F6FF solid 3px;
  border-radius: 30px;
  box-shadow: 0 0 10px 3px #F9F6FF;
  margin: 0 20rem;
  padding: 1rem 15rem;
  min-height: 19rem;
  display: flex;
  justify-content: center;
  align-content: center;

}

.letter-lyric {
  color: #F9F6FF;
  font-size: 6.0rem;
}

.footer-main {
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin: 0 26rem;
}

.footer-main__points {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  font-size: 3.8rem;
  color: #FFFFFF;
  text-shadow:
  0 0 10px #FFFFFF , 0 0 30px #FFFFFF,
  0 0 1px #FFFFFF , 0 0 5px #FFFFFF
}



.footer-main__time {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  font-size: 3.8rem;
  color: #FFFFFF;
  text-shadow:
  0 0 10px #FFFFFF , 0 0 30px #FFFFFF,
  0 0 1px #FFFFFF , 0 0 5px #FFFFFF
}

.time-final {
  color: #F2178F;
  text-shadow:
  0 0 10px #F2178F , 0 0 30px #F2178F,
  0 0 1px #F2178F , 0 0 5px #F2178F
}

.cassette-main__container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.cassette-main__boder {
  border-top: #3DF1B0 solid 3px;
  border-left: #3DF1B0 solid 3px;
  border-right: #3DF1B0 solid 3px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 100%;
  height: fit-content;
  box-shadow: 0 0 10px 3px #3DF1B0;
}

.cassette-main__circle-container{
  display: flex;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
  padding: 1.5rem;
}

.circle-container__circle {
  width: 3rem;
  height: 3rem;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: #3DF1B0 solid 3px;
  box-shadow: 0 0 10px 3px #3DF1B0;
}

.cassette-main__information-container {
  border-top: #F2178F solid 3px;
  border-left: #F2178F solid 3px;
  border-right: #F2178F solid 3px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0 0 10px 3px #F2178F;
  height: fit-content;
  margin: 0 3rem;
}

.information-container__cassette {
  color: #F9F6FF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 5rem;
  padding: 1rem 0;
}

.cassette-main__elements-container {
  border-top: #F2178F solid 3px;
  border-left: #F2178F solid 3px;
  border-right: #F2178F solid 3px;
  box-shadow: 0 0 10px 3px #F2178F;
  margin: 0 3rem;
  padding-top: 3rem;
  padding-left: 6rem;
  padding-right: 6rem;
  padding-bottom: 0;
}

.container__cassette-tittle {
  font-size: 3.2rem;
}

.container__cassette-artist {
  font-size: 3.0rem;
}

.elements-container__cassette-one {
  border-top: #2606BA solid 3px;
  border-left: #2606BA solid 3px;
  border-right: #2606BA solid 3px;
  box-shadow: 0 0 10px 3px #2606BA;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 1.5rem;
  padding-bottom: 0;

}

.elements-containe__casette-two {
  border-top: #2606BA solid 3px;
  border-left: #2606BA solid 3px;
  border-right: #2606BA solid 3px;
  box-shadow: 0 0 10px 3px #2606BA;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding-top: 5rem;

}




