<section class="main-player-section">
  <header class="header-main">
    <div class="header-main-home-button">
      <button class="home-button" (click)="handlePlaySong()">
        <img width="68" src="../../assets/images/back.png" alt="" />
      </button>
    </div>
    <div class="header-main-search">
      <img width="400" src="../../assets/images/astraoke.png" alt="" />
      <app-audio
        [src]="currentSong.url"
        (onCurrentTimeUpdate)="handleAudioTimeUpdate($event)"
        (onPlayPause)="handleAudioPlayPause($event)"
        (onSongTime)="handleAudioTimeSong($event)"
      ></app-audio>
    </div>
    <div class="header-main-user-button">
      <button class="user-button">
        <img *ngIf="user.role === 'basic-user'" width="60" src="./../../../assets/images/rocket.png" alt="" />
        <img *ngIf="user.role !== 'basic-user'" width="80" src="./../../../assets/images/start.svg" alt="" />
        <p class="user-name" >{{ user.username }}</p>
      </button>
    </div>
  </header>
  <main class="main-lyric">
    <div class="section-letter__container">
      <div class="section-letter-lyric">
        <app-lyrics
          [src]="currentSong.lyrics"
          [delay]="delaySong"
          [onCurrentTimeUpdate]="onLyricsTimeUpdate"
          (onNewLine)="handleLyricsNewLine($event)"
        ></app-lyrics>
        <!--<player-speech
        [playPause]="onSpeechStart"
        (onSpeechFound)="handleSpeechFound($event)"
      ></player-speech>-->
      </div>
    </div>
  </main>
  <footer class="footer-main">
    <div class="footer-main__points">
      <p class="points-tittle">Puntaje</p>
      <p class="points-number">{{ points }}</p>
    </div>
    <div class="cassette-main__container">
      <div class="cassette-main__boder">
        <div class="cassette-main__circle-container">
          <div class="circle-container__circle"></div>
          <div class="circle-container__circle"></div>
        </div>
        <div class="cassette-main__information-container">
          <div class="information-container__cassette">
            <img width="50rem" [src]="currentSong.cover" alt="Album">
            <h1 class="container__cassette-tittle">{{ currentSong.name }}</h1>
            <p class="container__cassette-artist">{{ currentSong.artist }}</p>
          </div>
        </div>
        <div class="cassette-main__elements-container">
          <div class="elements-container__cassette-one">
            <div class="elements-containe__casette-two">

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-main__time">
      <p class="time-initial">{{ currentTime }}</p>
      <p class="time-final">{{ songTime }}</p>
    </div>
  </footer>
  </section>
