<div class="popup">
  <div class="container-text">
      <form action="" class="login-form">
          <h1 class="main-tittle" id="main-tittle">AGREGAR UNA CANCIÓN</h1>
          <input type="text" class="input" placeholder="Nombre">
          <input type="text" class="input" placeholder="Artista">
          <input type="text" class="input" placeholder="Álbum">
          <button type="submit" class="button">
              <img src="./../../../assets/images/Group.svg">
              Archivo canción .mp3
          </button>
          <button type="submit" class="button">
              <img src="./../../../assets/images/Group.svg">
              Archivo letra .lrc
          </button>
          <button type="submit" class="button">
              <img src="./../../../assets/images/Group.svg">
              Archivo imagen .jpg/ .png
          </button>
          <button type="submit" class="login-button">
            <img src="./../../../assets/images/login.png" alt="Registrar">
          </button>
        </form>
  </div>

  <a href="#" class="btn-close-popup">X</a>
</div>
