*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

.popup{
  max-width: 650px;
  height: 715px;
  position: relative;
  display: flex;
  text-align: center;
  background-image: url(./../../../assets//images/background2.png);
  background-size: cover;
  background-position: center center;
  border-radius: 30px;
  transition: all 600ms;
  border-top: #F2178F solid 4px;
  border-left: #F2178F solid 4px;
  border-right: #F2178F solid 4px;
  border-bottom: #F2178F solid 4px;
  box-shadow: 0 0 10px 3px #F2178F;
}

.main-tittle {
  font-size: 3.8rem;
  color: #F2178F;
  text-shadow:
  0 0 10px #F2178F , 0 0 30px #F2178F,
  0 0 1px #F2178F , 0 0 5px #F2178F;
  margin-bottom: 30px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.input {
  background-color: rgba(250, 248, 255, 0.2);
  border: none;
  width: 100%;
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.1);
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  height: 50px;
  margin-bottom: 25px;
  outline: none;
  padding: 0px 20px;
}

::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.input:hover {
  background-color: rgba(250, 248, 255, 0.3);
}

.input:focus {
  color: white;
}

.container-text{
  width: 100%;
  padding: 50px;
  overflow-y: auto;
}

.container-text h1{
  font-size: 30px;
}

.container-text p{
  margin-top: 20px;
  font-size: 16px;
}


.btn-close-popup{
  width: 50px;
  height: 50px;
  position: absolute;
  right: -20px;
  top: -20px;
  background-image: url(./../../../assets/images/background2.png);
  background-size: cover;
  background-position: center center;
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: #F2178F solid 4px;
  box-shadow: 0 0 10px 3px #F2178F;
  transition: all 600ms;

}

.btn-close-popup:hover {
  transform: scale(1.2);
}

.button {
  background-color: rgba(250, 248, 255, 0.2);
  border: none;
  width: 100%;
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.4);
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  height: 50px;
  margin-bottom: 25px;
  outline: none;
  padding: 0px 20px;
  display: flex;
  align-items: center;
}

.login-button {
  background-color: transparent;
  border: none;
  width: 100%;
  height: auto;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button img {
  width: 30px;
  margin-right: 20px;
}

.login-button img {
  width: 100px;
  transition: all 600ms;
}

.button:hover {
  background-color: rgba(250, 248, 255, 0.3);
}

.login-button img:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 900px){
  .popup{
      flex-direction: column;
      height: 100%;
      max-height: 800px;
  }

  .img{
      width: 100%;
      height: 40%;
  }

  .container-text{
      width: 100%;
      height: 60%;
      padding: 80px;
  }

}

@media screen and (max-width: 500px){
  .container-text{
      padding: 20px;
  }

  .container-text h1{
      font-size: 20px;
  }

  .container-text p{
      font-size: 12px;
  }
}
