<div class="app">
  <div class="app-body">
    <div class="app-body-songlist" *ngIf="!currentSong">
      <song-selection
        [songList]="songList"
        [currentSong]="currentSong"
        (onChooseSong)="handleChooseSong($event)"
      ></song-selection>
    </div>
    <div class="app-body-content" *ngIf="currentSong">
      <app-loader-song [song]="currentSong" (currentSongLoader)="homeDirection($event)"></app-loader-song>
      <!--<Player [currentSong]="currentSong"></Player>-->
    </div>
  </div>
</div>
