<div class="app">
  <div class="app-body">
    <div class="app-body-songlist" *ngIf="!currentSong">
      <song-selection
        [songList]="songList"
        [currentSong]="currentSong"
        (onChooseSong)="handleChooseSong($event)"
      ></song-selection>
    </div>
    <div class="app-body-content" *ngIf="currentSong">
      <Player [currentSong]="currentSong"></Player>
    </div>
  </div>

  <button
    class="app-backbutton"
    *ngIf="currentSong"
    (click)="handleClearCurrentSong()"
  >
    ← Back to list of songs
  </button>
</div>
