<div class="app">
  <div *ngIf="!token" class="access-body">
    <app-access (token)="handleChooseToken($event)" ></app-access>
  </div>
  <div *ngIf="token" class="app-body">
    <div class="app-body-songlist" *ngIf="!OnCurrentSong && !onPlaySong">
      <song-selection
        (onChooseSong)="handleChooseSong($event)"
      ></song-selection>
    </div>
    <div class="app-body-content" *ngIf="OnCurrentSong || onPlaySong">
      <app-loader-song *ngIf="OnCurrentSong" [song]="OnCurrentSong" (currentSongLoader)="homeDirection($event)" (playSong)="handlePlaySong($event)"></app-loader-song>
      <Player  *ngIf="onPlaySong" [currentSong]="onPlaySong"></Player>
    </div>
  </div>
</div>
