<header class="header-main">
  <div class="header-main-home-button">
    <button class="home-button">
      <img width="68" src="./assets/home.png" alt="" />
    </button>
  </div>
  <div class="header-main-search">
    <img width="400" src="./assets/astraoke.png" alt="" />
    <h1 class="main-tittle-search">¿Qué vas a cantar hoy?</h1>
    <div class="header-search-input">
      <input type="text" class="input" placeholder="Buscá tu canción..." />
      <button class="plus-button">
        <img width="40" src="./assets/plus.png" alt="" />
      </button>
    </div>
  </div>
  <div class="header-main-user-button">
    <button class="user-button">
      <img width="60" src="./assets/rocket.png" alt="" />
    </button>
  </div>
</header>
<section class="carousel">
  <div class="carousel__container">
    <div class="carousel-item-container" *ngFor="let song of songs">
      <div class="carousel-item" (click)="handleChooseSong($event, song)">
        <img
          class="carousel-item__img"
          [src]="song.cover"
          alt="Flower"
        />
        <div class="carousel-item__details">
          <h3 class="carousel-item__details--title">{{ song.name }}</h3>
          <p class="carousel-item__details--subtitle">{{ song.artist }}</p>
        </div>
      </div>
      <div class="carousel__container--button-container">
        <img (click)='onDeleteSong(song._id)' class="button-container__delete" src="../../../assets/images/delete.svg" alt="">
        <img class="button-container__edit" src="../../../assets/images/edit.svg" alt="">
      </div>
    </div>
  </div>
</section>
<!--
<ul class="songlist">
  <li class="songlist-item" *ngFor="let song of songList" [class.songlist-item--selected]="currentSong === song">
    <a href="" (click)="handleChooseSong($event, song)" class="songlist-item-anchor">
      <span class="songlist-item-avatar"></span>
      <span class="songlist-item-details">
        <span class="songlist-item-details-title">{{ song.title }}</span>
        <span class="songlist-item-details-artist">{{ song.artist }}</span>
      </span>
    </a>
  </li>
</ul>-->
