.play-button-container {
  padding: 3.6rem 0;
}
.pause-play-button{
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  height: 12rem;
  transition: 450ms all;
  //filter: saturation(10%);
}

.pause-play-button:hover {
  filter: brightness(110%);
  transform: scale(1.2);
  transition: 450ms all;
}
